<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestingWebSite">

	
	<test name="BankingApp Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.testingwebsite.testCase.TC00001" />
			<!--  <class name= com.testingwebsite.testCase.TC00002DDT" />-->
		</classes>

	</test>

</suite>

